/* Step 1: Style the body */
body {
    /* Your code here */
    font-family: serif;
    text-align: center;
    padding: 20px;
    width: 200px;
    color: #92137b;
    background-color: #ede2ea;
  }
  
  /*Step 2: Style the container 
  .container {
    padding: 10px;
    text-align: center;
  }*/
  
  /* Step 3: Style the timer display */
  #timer {
    /* Your code here */
    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    margin: 20px;
    color: #8b46b9;
  }
  
  /* Step 4: Style the buttons */
  button {
    /* Your code here */
    padding: 20px;
    margin: 5px;
    font-family: serif;
    font-size: 16px;
    cursor: pointer;
    background-color: #bcaada;
    color: #33224f;
    border-radius: 5px;
  }
  
  /* Step 5: Add hover effects to the buttons */
  button:hover {
    /* Your code here */
    background-color: #9e84ca;
    transform: scale(1.1);
  }
    
    /* Step 5: Add hover effects to the buttons */
    button:hover {
      /* Your code here */
      background-color: #9e84ca;
      transform: scale(1.1);
    }